h1{
    font-family: Arial, Helvetica, left;
    font-size: 8em;
    max-width: 100%;
    text-align: center;
    border-style: dotted;
    border-color: #F04714;
    border-width: 10px;
    
    }
   
main{
    float: left;
    width: 75%;
    margin-left: 25%;

}
    
}
 header{
    clear: left;
    text-align: center;

 }

 
ul{
    text-align: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #99AABB;
}

li{
    display: inline;
    color:black;
    padding: 1%;
    margin: 0;
    font-size: 2em;
    text-align: center;
}
    li:hover{
        background-color:#cc99ff, (60, 66, 71);
        text-decoration: underline;
        cursor: pointer;
    }

body{

    background-color: #C1DEA5;
    margin:0;

    
}




article {
    background-color: #cc99ff;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 90%;

}

img {

    image height: 45%;
    image width: 25%;
    
    
    }
    

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1,5em;
    text-align: left;
    color: black;
    text-align: left;

    margin-top: 1.5em;
    margin-right: 1em;
    margin-bottom: 2.5em;
    margin-left: 1em;
    padding: 1.0em 1,5em 2.0em 1,0em; 
}

footer {

text align: left;
background-color: #cc99ff;
font-family: 'Franklin Gothic Medium';
font-size: 2,5em;
max-width: 100%;
clear:left;
}

header {
    text-align: left;
}



aside:hover{
    clear: left;
    height: 32em;
    width: 32em;
    overflow: auto;
    float:left;
   


  }  

aside{
    clear: left;
    width:25%;
    overflow: auto;
    float:left;
    position: absolute;
    background-color: #F04714;

    
    
 
    
}
 div.Box{
     background-color: #cc99ff;
     color: black;
     width:20em;
     height:30em;
     float: right;
     overflow: scroll;
     margin-right:3em;
     margin-bottom: 3em;
     margin-top: 3em;
     
 }


 section:nth-child(3n+1){

    clear: left; 
    
    }
